.about {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  &__title {
    font-size: 2rem;
    margin: 2rem;
  }
  &__text {
    margin: auto;
    padding: 1rem;
    background-color: red;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 1rem;
    width: 70vw;
    font-size: 1.3rem;
  }
}
