.setups {
  display: inline-block;

  .subtitle {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
      serif;
    margin: 1.5rem;
  }
  .jokes {
    width: 100vw;
    list-style-type: none;

    .joke {
      width: 70vw;
      padding: 1rem;
      &__setup {
        font-family: Cambria, Cochin, Georgia, Times,
          'Times New Roman', serif;
        font-size: 1.5rem;
        color: black;
      }

      background-color: red;
      margin-bottom: 1rem;
      border: 1px solid;
      border-radius: 1rem;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: teal;
      }
    }
  }
}
